<!doctype html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='../../../assets/base-driver/mustard-ui.css'>
    <link rel='stylesheet' href='../../../assets/base-driver/style.css'>
    <script src='../../../assets/base-driver/vue.min.js'></script>
    <script src='../../../assets/base-driver/homey-pairing-mock.js'></script>
    <script src='assets/mock-setup.js'></script>
  </head>
  <body class='homekit-client'>
    <div id='container-discover' class='panel'>
      <div v-if='state === "discovery"'>
        <div class='panel-head'>
          <p class='panel-title'>
            Discovering unpaired HomeKit bridges<span class='loader__dot'>.</span><span class='loader__dot'>.</span><span class='loader__dot'>.</span>
          </p>
        </div>
      </div>
      <div v-if='state === "no-bridges-found"'>

        <div class='panel-head'>
          <p class='panel-title'>No bridges found</p>
        </div>
        <div class='panel-body'>
          <p>I wasn't able to find any new HomeKit bridges in your local network yet.</p>
          <p>You can wait a bit longer, or click "Close" to cancel the discovery process.</p>
        </div>
        <div class='panel-footer align-center'>
          <button class='button button-primary' @click='Homey.done()'>Close</button>
        </div>

      </div>
      <div v-if='state === "bridges-found"'>
        <div class='panel-head'>
          <p class='panel-title'>Bridges found:</p>
        </div>

        <div class='pricing-table row'>
          <div v-for='bridge in bridges' class='col col-md-6'>
            <div class='package row'>
              <div class='package-name'>{{ bridge.name }}</div>
              <hr>
              <p class='price'>{{ bridge.id }}</p>
              <p class='disclaimer'></p>
              <hr>
              <ul class='features'>
                <li v-for='address in bridge.addresses'>
                  {{ address.address }}:{{ address.port }}
                </li>
              </ul>
              <div class='col col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3'>
                <button
                  v-if  = 'bridge.isPaired'
                  class = 'button-small button-shadow button-info'
                  disabled>Already paired</button>
                <button
                  v-else
                  class          = 'button-small button-shadow button-primary'
                  @click.prevent = 'setPairingTarget(bridge)'>Click to pair</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
  <script>
    new Vue({
      el   : '#container-discover',
      data : {
        state:   'discovery',
        bridges: [],
      },
      mounted() {
        const timeout = setTimeout(() => { this.state = 'no-bridges-found' }, 5000);
        Homey.emit('startDiscovery');
        Homey.on('accessoryFound', bridge => {
          clearTimeout(timeout);
          console.log('Got bridge:', bridge);
          this.state = 'bridges-found';

          // Bridge address object.
          const address = {
            address: bridge.address,
            port:    bridge.port,
          };

          // Check if we already have a reference to this bridge.
          // If so, add the address to the list of addresses.
          let existing = this.bridges.find(a => a.id === bridge.id);
          if (existing) {
            existing.addresses.push(address);
          } else {
            bridge.addresses = [ address ];
            this.bridges.push(bridge);
          }
        });
      },
      methods : {
        setPairingTarget(bridge) {
          Homey.emit('setPairingTarget', bridge.id, () => {
            Homey.showView('pair-setup');
          });
        }
      }
    });
  </script>
</html>
