<!doctype html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='../../../assets/base-driver/mui.min.css'>
    <link rel='stylesheet' href='../../../assets/base-driver/style.css'>
    <script src='../../../assets/base-driver/vue.min.js'></script>
    <script src='../../../assets/base-driver/homey-pairing-mock.js'></script>
    <!--
    <script src='assets/mock-setup.js'></script>
    -->
  </head>
  <body class='homekit-client'>
    <div id='container-discover' class='mui-container-fluid'>
      <div v-if='Array.isArray(bridges) && bridges.length === 0'>
        <div class="fluid card error">
          <div class='section'>
            <h5>No bridges paired yet</h5>
            <p>Before you can add a bridged accessory, you need to at least pair one bridge device first.</p>
          </div>
        </div>
      </div>
      <div v-if='state === "finding-bridge"'>
        <h5>
          Finding paired HomeKit bridges<span class='loader__dot'>.</span><span class='loader__dot'>.</span><span class='loader__dot'>.</span>
        </h5>
      </div>
      <div v-if='state === "discovery"'>
        <h5>
          Discovering bridged accessories on your local network<span class='loader__dot'>.</span><span class='loader__dot'>.</span><span class='loader__dot'>.</span>
        </h5>
      </div>
      <div v-if='state === "no-accessories-found"'>

        <div class="fluid card warning">
          <div class='section'>
            <h5>No (new) accessories were found ☹️</h5>
          </div>
        </div>

      </div>
      <div v-if='state === "accessories-found"'>

        <div class='mui-panel accessory-panel' v-for='accessory in accessories'>
          <form class='mui-form'>
            <legend>{{ accessory.name }}</legend>
            <div class='mui-textfield'>
              <input type='text' disabled :value='accessory.id'>
              <label>ID</label>
            </div>
            <div class='mui-textfield'>
              <input type='text' disabled :value='accessory.addresses.map(a => `${ a.address }:${ a.port }`).join(", ")'>
              <label>Address{{ accessory.addresses.length > 1 ? 'es' : '' }}</label>
            </div>
            <div>
              <button
                v-if  = 'accessory.isPaired'
                class = 'mui-btn mui-btn--small mui-btn--primary mui-btn--raised'
                style = 'float: right'
                disabled>Already paired</button>
              <button
                v-else
                class          = 'mui-btn mui-btn--small mui-btn--primary mui-btn--raised'
                style          = 'float: right'
                @click.prevent = 'setPairingTarget(accessory)'>Click to pair</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </body>
  <script>
    new Vue({
      el   : '#container-discover',
      data : {
        state:    'finding-bridge',
        bridges:  null,
      },
      mounted() {
        Homey.emit('getBridges', (err, bridges) => {
          this.bridges = bridges;
          console.log('bridges', bridges);
          if (bridges.length) {
            this.discover();
          }
        });
      },
      methods : {
        discover() {
          this.state = 'discover';
          Homey.emit('startDiscovery');
          Homey.on('accessoryFound', accessory => {
            console.log('Got accessory:', accessory);
            this.state = 'accessories-found';

            // Accessory address object.
            const address = {
              address: accessory.address,
              port:    accessory.port,
            };

            // Check if we already have a reference to this accessory.
            // If so, add the address to the list of addresses.
            let existing = this.accessories.find(a => a.id === accessory.id);
            if (existing) {
              existing.addresses.push(address);
            } else {
              accessory.addresses = [ address ];
              this.accessories.push(accessory);
            }
          });
        },
        setPairingTarget(accessory) {
          Homey.emit('setPairingTarget', accessory.id, () => {
            Homey.showView('pair-setup');
          });
        }
      }
    });
  </script>
</html>
