<!doctype html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='../../../assets/base-driver/mustard-ui.css'>
    <link rel='stylesheet' href='../../../assets/base-driver/style.css'>
    <script src='../../../assets/base-driver/vue.min.js'></script>
    <script src='../../../assets/base-driver/homey-pairing-mock.js'></script>
    <script src='assets/mock-setup.js'></script>
  </head>
  <body class='homekit-client'>
    <div id='container-discover' class='panel'>
      <div v-if='state === "discovery"'>
        <div class='panel-head'>
          <p class='panel-title'>
            Discovering HomeKit accessories<span class='loader__dot'>.</span><span class='loader__dot'>.</span><span class='loader__dot'>.</span>
          </p>
        </div>
      </div>
      <div v-if='state === "no-accessories-found"'>

        <div class='panel-head'>
          <p class='panel-title'>No accessories found</p>
        </div>
        <div class='panel-body'>
          <p>I wasn't able to find any new HomeKit accessories in your local network yet.</p>
          <p>You can wait a bit longer, or click "Close" to cancel the discovery process.</p>
        </div>
        <div class='panel-footer align-center'>
          <button class='button button-primary' @click='Homey.done()'>Close</button>
        </div>

      </div>
      <div v-if='state === "accessories-found"'>
        <div class='panel-head'>
          <p class='panel-title'>Accessories found:</p>
        </div>

        <div class='pricing-table row'>
          <div v-for='accessory in accessories' class='col col-md-6'>
            <div class='package row'>
              <div class='package-name'>{{ accessory.name }}</div>
              <hr>
              <p class='price'>{{ accessory.id }}</p>
              <p class='disclaimer'>{{ accessory.category }}</p>
              <hr>
              <ul class='features'>
                <li v-for='address in accessory.addresses'>
                  {{ address.address }}:{{ address.port }}
                </li>
              </ul>
              <div class='col col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3'>
                <button
                  v-if           = 'accessory.isPaired'
                  class          = 'button-small button-shadow button-primary'
                  @click.prevent = 'selectAccessory(accessory)'>Select</button>
                <button
                  v-else
                  class          = 'button-small button-shadow button-warning'
                  @click.prevent = 'pairAccessory(accessory)'>Click to pair</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
  <script>
    new Vue({
      el   : '#container-discover',
      data : {
        state:       'discovery',
        accessories: [],
      },
      mounted() {
        const timeout = setTimeout(() => { this.state = 'no-accessories-found' }, 5000);
        Homey.emit('startDiscovery');
        Homey.on('accessoryFound', accessory => {
          clearTimeout(timeout);
          console.log('Got accessory:', accessory);
          this.state = 'accessories-found';

          // Accessory address object.
          const address = {
            address: accessory.address,
            port:    accessory.port,
          };

          // Check if we already have a reference to this accessory.
          // If so, add the address to the list of addresses.
          let existing = this.accessories.find(a => a.id === accessory.id);
          if (existing) {
            existing.addresses.push(address);
          } else {
            accessory.addresses = [ address ];
            this.accessories.push(accessory);
          }
        });
      },
      methods : {
        selectAccessory(accessory) {
          Homey.emit('selectAccessory', accessory.id, err => {
            if (err) return Homey.alert(err, 'error');
            Homey.showView('select');
          });
        },
        pairAccessory(accessory) {
          Homey.emit('pairAccessory', accessory.id, err => {
            if (err) return Homey.alert(err, 'error');
            Homey.showView('pair');
          });
        }
      }
    });
  </script>
</html>
