<!doctype html>
<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='assets/mustard-ui.css'>
    <link rel='stylesheet' href='assets/style.css'>
    <script src='assets/vue.min.js'></script>
    <script src='assets/homey-pairing-mock.js'></script>
    <script src='assets/mock-setup.js'></script>
  </head>
  <body class='homekit-controller'>
    <div id='container-select'>
      <div v-if='accessories.length' class='panel'>
        <fieldset v-for='accessory in accessories'>
          <legend>{{ accessory.metadata.name }}</legend>
          <div class='row alternate' v-for='device in accessory.devices'>
            <div class='col col-xs-6'>{{ device.name }}</div>
            <div class='col col-xs-5'>{{ device.class }}</div>
            <div class='col col-xs-1 align-right'><input style='vertical-align: middle' type=checkbox></div>
          </div>
        </fieldset>
      </div>
      <div v-else>
        <div class='spinner'></div>
      </div>
    </div>
  </body>
  <script>
    new Vue({
      el:      '#container-select',
      data:    {
        accessories: [],
      },
      mounted() {
        Homey.emit('getAccessories', (err, accessories) => {
          if (err) return this.handleError('Failed to get accessories: ' + err);
          this.accessories = accessories;
        });
      },
      methods : {
        handleError(msg) {
          return Homey.alert(msg, 'error', () => {
            return Homey.showView('discover');
          });
        },
      }
    });
  </script>
</html>
