@keyframes blink          { 50% { color: transparent } }
.loader__dot              { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }

.homekit-controller .panel-head {
  justify-content: center;
}

.homekit-controller .panel {
  margin-top: 0;
}

.homekit-controller .pricing-table .package {
  padding: 15px;
  margin: 0;
}

.homekit-controller table caption {
  font-size:   150%;
  text-align:  center;
  font-weight: 500;
  margin-top:  0;
}

.homekit-controller .accessory-panel {
  border: 1px solid #aaa;
}

.homekit-controller .accessory-panel legend {
  background: #2196F3;
  color:      white;
  padding:    0.5em;
}

.homekit-controller input:invalid {
  color: #D8000C !important;
  background: #FFBABA !important;
}

.homekit-controller input:valid {
  color: #4F8A10 !important;
  background: #DFF2BF !important;
}

.homekit-controller button:hover {
  background: inherit !important;
}

/* https://loading.io/css/ */
.homekit-controller .spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.homekit-controller .spinner.small {
  height: 20px;
  vertical-align: middle;
}

.homekit-controller .spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #aaa;
  border-color: #aaa transparent #aaa transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.homekit-controller .spinner.small:after {
  width: 16px;
  height: 16px;
  border-width: 3px;
  margin: 0 auto;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
